.nose {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    color: rgb(255, 255, 255);
    background-color: aqua;
    font-size: 25px;

}
.nose_1{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-content: center;
}

.listas {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    padding: 20px; 

}